---
layout: default
lang: fr
ref: home
---
{% for category in site.categories %}
  <h3 id="{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }}</h3>
  <ul>
    {% assign pages_list = category[1] %}
    {% for post in pages_list limit:5 %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li>
        <a href="{{ site.url }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>({{ post.lang }} | {{ post.date | date: "%d/%m/%Y" }})</small>
      </li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
