---
layout: default
---


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="panel panel-primary">
  <div class="panel-heading">

  <h2 class="panel-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  </div>
  <div class="panel-body">
    {{ post.content }}
  </div>
  <div class="panel-footer text-right">
    <small>
      Publié le <em>{{ post.date | date: "%d/%m/%Y" }}</em> dans la catégorie <a href="/articles/#{{ post.categories[0] }}">{{ post.categories[0] | capitalize }}</a>
    </small>
  </div>

</div>
{% endfor %}

<!-- Pagination links -->
<ul class="pager">
<li class="previous">
  {% if !paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">Précédents</a>
  {% else %}
    <span class="previous">Précédents</span>
  {% endif %}
</li>
<li class="next">
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Suivants</a>
  {% else %}
    <span class="next ">Suivants</span>
  {% endif %}
</li>
</ul>