<div class="hresume row">
<div class="col-sm-4"><address class="vcard">
<strong class="fn">Bruno Paulin</strong><ul class="adr list-unstyled">
<li><span class="street-address">33, rue Claudius Pionchon</span></li>
<li>
<span class="postal-code">69003</span> <span class="locality">Lyon</span>, <span class="country-name">France</span>
</li>
</ul>
<ul class="list-unstyled">
<li><a class="email" href="mailto:brunopaulin@bpaulin.net">brunopaulin@bpaulin.net</a></li>
<li><span class="tel">06 27 19 46 67</span></li>
<li><a class="url" href="bpaulin.net">bpaulin.net</a></li>
<li><a class="url" href="github.com/bpaulin">github.com/bpaulin</a></li>
</ul>
</address></div>
<div class="col-sm-8 text-center keywords">
<div class="keyword">Développeur d'applications</div>
<div class="keyword">Applications de gestion</div>
<div class="keyword">Bases de données</div>
<div class="keyword">Symfony</div>
<div class="keyword">Intégration continue</div>
</div>
</div><div class="hresume row">
<aside class="col-sm-3"><h2>
      Compétences
    </h2>
<section class="skills"><h3>Langues</h3>
<h4>Anglais</h4>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="10" style="
                      width: 100%
                    "><span class="sr-only">10/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Compréhension</span></div>
</div>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="8" style="
                      width: 80%
                    "><span class="sr-only">8/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Expression</span></div>
</div>
<h3>Informatique</h3>
<h4>Base de données</h4>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="8" style="
                      width: 80%
                    "><span class="sr-only">8/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">MySQL</span></div>
</div>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="6" style="
                      width: 60%
                    "><span class="sr-only">6/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">SQLite</span></div>
</div>
<h4>Framework</h4>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="7" style="
                      width: 70%
                    "><span class="sr-only">7/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Symfony 2.x</span></div>
</div>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="4" style="
                      width: 40%
                    "><span class="sr-only">4/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Zend 1.x</span></div>
</div>
<h4>Système</h4>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="6" style="
                      width: 60%
                    "><span class="sr-only">6/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Windows de 3.1 à 7</span></div>
</div>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="8" style="
                      width: 80%
                    "><span class="sr-only">8/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Linux</span></div>
</div>
<h4>Languages</h4>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="8" style="
                      width: 80%
                    "><span class="sr-only">8/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">PHP 5.4</span></div>
</div>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="7" style="
                      width: 70%
                    "><span class="sr-only">7/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Javascript</span></div>
</div>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="4" style="
                      width: 40%
                    "><span class="sr-only">4/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Python</span></div>
</div>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="7" style="
                      width: 70%
                    "><span class="sr-only">7/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Shell</span></div>
</div>
<h4>Formats</h4>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="6" style="
                      width: 60%
                    "><span class="sr-only">6/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">HTML5</span></div>
</div>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="6" style="
                      width: 60%
                    "><span class="sr-only">6/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">CSS/LESS</span></div>
</div>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="7" style="
                      width: 70%
                    "><span class="sr-only">7/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">XML/XSLT</span></div>
</div>
<h4>Versionning</h4>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="7" style="
                      width: 70%
                    "><span class="sr-only">7/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Git</span></div>
</div>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="5" style="
                      width: 50%
                    "><span class="sr-only">5/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Mercurial</span></div>
</div>
<h4>Behavior Driven Development</h4>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="9" style="
                      width: 90%
                    "><span class="sr-only">9/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Behat (PHP)</span></div>
</div>
<div class="row">
<div class="col-xs-4"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="5" style="
                      width: 50%
                    "><span class="sr-only">5/10</span></div></div></div>
<div class="col-xs-8"><span class="skill" rel="tag">Jasmine (Javascript)</span></div>
</div></section><h2>
      Centres d'intérêt
    </h2>
<ul class="list-unstyled">
<li>Lecture (anglais)</li>
<li>Cuisine</li>
<li>Bricolage</li>
<li>Billard</li>
<li>Rugby</li>
</ul></aside><div class="col-sm-9">
<h2>
      Expériences
    </h2>
<div class="vcalendar">
<article class="experience vevent"><header><h3><span>Développeur d'applications web</span></h3>
<div>
<strong>2012
                  /
                  2013</strong>
              : 
              Ascomedia, Champagne au mont d'or</div></header><ul class="fa-ul">
<li>
<i class="fa-li fa fa-check-circle"></i>Mise en place du versionning (bitbucket)</li>
<li>
<i class="fa-li fa fa-check-circle"></i>Utilisation de Symfony pour les développement spécifique</li>
</ul>
<ul class="fa-ul projects">
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Développement spécifique d'application sur Symfony en autonomie, de la conception à la mise en production</li>
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Import et traitement de données MySQL</li>
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Configuration, nettoyage et/ou sécurisation de sites sur Apache</li>
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Installation, mise à jour et développement pour CMS (joomla, wordpress, drupal, thelia, prestashop)</li>
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Développement et installation de plugin jQuery</li>
</ul></article><article class="experience vevent"><header><h3><span>Maintenance et développement informatique</span></h3>
<div>
<strong>2007
                  /
                  2012</strong>
              : 
              Auto entrepreneur, Roanne</div></header><ul class="fa-ul">
<li>
<i class="fa-li fa fa-check-circle"></i>Développement d'application web de gestion clientèle et commerciale toujours en production</li>
<li>
<i class="fa-li fa fa-check-circle"></i>Installation/Configuration de serveur linux (LAMP, ssh, rsync)</li>
</ul>
<ul class="fa-ul projects">
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Installation de réseaux et mise en place de sauvegarde pour PME</li>
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Conseil d'achat, assemblage et installation de machines</li>
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Installation et maintenance de systèmes windows</li>
</ul></article><article class="experience vevent"><header><h3><span>Assistant de direction</span></h3>
<div>
<strong>2004
                  /
                  2007</strong>
              : 
              Cafétéria Casino (Nice puis mutation à Roanne)</div></header><ul class="fa-ul"><li>
<i class="fa-li fa fa-check-circle"></i>Augmentation du plateau moyen et fidélisation de la clientèle</li></ul>
<ul class="fa-ul projects">
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Gestion d'une équipe de 10 personnes pour des services de 300 couverts</li>
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Mise en place d'outils pour la gestion interne du personnel</li>
</ul></article><article class="experience vevent"><header><h3><span>Développeur d'applications</span></h3>
<div>
<strong>2001
                  /
                  2003</strong>
              : 
              Alpamayo (Grenoble)</div></header><ul class="fa-ul"></ul>
<ul class="fa-ul projects">
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Développement en autonomie d'un logiciel de calcul de devis prévisionnel (Visual Basic - Access)</li>
<li>
<i class="fa-li fa fa-chevron-circle-right"></i>Augmentation du plateau moyen et fidélisation de la clientèle</li>
</ul></article><article class="experience vevent"><header><h3><span>Développeur d'applications</span></h3>
<div>
<strong>2001</strong>
              : 
              Groupe Eirich France (Lyon)</div></header><ul class="fa-ul"></ul>
<ul class="fa-ul projects"><li>
<i class="fa-li fa fa-chevron-circle-right"></i>Création d'une base de données spécifique à la société pour la gestion du catalogue et de la clientèle (Access)</li></ul></article>
</div>
<h2>
      Formation
    </h2>
<article class="education"><header><h3>BTS 
            informatique de gestion</h3>
<div><strong>2003
              :
              Sup2i (Grenoble)</strong></div>
<ul class="list-unstyled">
<li>développeur d’applications</li>
<li><em>Cursus en alternance</em></li>
</ul></header></article><article class="education"><header><h3>Bac 
            scientifique</h3>
<div><strong>1999
              :
              Lycée Marlioz (Aix les bains)</strong></div>
<ul class="list-unstyled">
<li>
<li><em></em></li>
</ul></header></article>
</div>
</div>
