<div class="hresume">
<address class="vcard">
<span class="fn">brunopaulin</span><span class="adr"><span class="street-address">33, rue claudius pionchon</span><span class="locality">Lyon</span>, 
      <span class="postal-code">69003</span><span class="country-name">France</span></span>
    Email: <span class="email">brunopaulin@bpaulin.net</span>
    Homepage: <span class="url">http://bpaulin.net</span>
    Phone: <span class="tel">06 27 19 46 67</span>
</address>
<h2>
    Parcours professionnel
  </h2>
<div class="vcalendar">
<article class="experience vevent"><header><h3>
<span class="label label-info">2012
              -
              2013</span><span>Développeur d'applications web</span><span class="small">Ascomedia, Champagne au mont d'or</span>
</h3></header><ul class="list-unstyled">
<li>Développement spécifique d'application sur symfony en autonomie, de la conception à la mise en production</li>
<li>Import et traitement de données MySQL</li>
<li>Configuration, nettoyage et/ou sécurisation de sites sur Apache</li>
<li>Installation, mise à jour et développement pour CMS (joomla, wordpress, drupal, thelia, prestashop)</li>
<li>Développement et/ou installation de plugin jQuery</li>
</ul></article><article class="experience vevent"><header><h3>
<span class="label label-info">2007
              -
              2012</span><span>Maintenance et développement informatique</span><span class="small">Ascomedia, Auto entrepreneur, Roanne</span>
</h3></header><ul class="list-unstyled">
<li>Développement d'application web de gestion clientèle et commerciale</li>
<li>Installation de réseaux et mise en place de sauvegarde pour PME</li>
<li>Conseil d'achat, assemblage et installation de machines</li>
<li>Installation et maintenance de systèmes windows</li>
</ul></article><article class="experience vevent"><header><h3>
<span class="label label-info">2004
              -
              2007</span><span>Assistant de direction</span><span class="small">Cafétéria Casino (Nice puis mutation à Roanne)</span>
</h3></header><ul class="list-unstyled">
<li>Gestion d'une équipe de 10 personnes pour des services de 300 couverts</li>
<li>Augmentation du plateau moyen et fidélisation de la clientèle</li>
<li>Mise en place d'outils pour la gestion interne du personnel</li>
</ul></article><article class="experience vevent"><header><h3>
<span class="label label-info">2001
              -
              2003</span><span>Développeur d'applications</span><span class="small">Alpamayo (Grenoble)</span>
</h3></header><ul class="list-unstyled">
<li>Développement en autonomie d'un logiciel de calcul de devis prévisionnel (Visual Basic - Access)</li>
<li>Augmentation du plateau moyen et fidélisation de la clientèle</li>
</ul></article><article class="experience vevent"><header><h3>
<span class="label label-info">2001
              -
              2001</span><span>Développeur d'applications</span><span class="small">Groupe Eirich France (Lyon)</span>
</h3></header><ul class="list-unstyled"><li>Création d'une base de données spécifique à la société pour la gestion du catalogue et de la clientèle (Access)</li></ul></article>
</div>
<h2>
    Formation
  </h2>
<article><header><h3>BTSinformatique de gestiondéveloppeur d’applications2003</h3>
<p>Sup2i (Grenoble)Cursus en alternance</p></header></article><article><header><h3>Bacscientifique1999</h3>
<p>Lycée Marlioz (Aix les bains)</p></header></article><h2>
    Compétences
  </h2>
<h3>Langues</h3>
<h4>Anglais</h4>Compréhension<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="10" style="
              width: 100%
            "><span class="sr-only">40% Complete (success)</span></div></div>Expression<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="8" style="
              width: 80%
            "><span class="sr-only">40% Complete (success)</span></div></div>
<h3>Informatique</h3>
<h4>Base de données</h4>MySQL<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="8" style="
              width: 80%
            "><span class="sr-only">40% Complete (success)</span></div></div>SQLite<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="6" style="
              width: 60%
            "><span class="sr-only">40% Complete (success)</span></div></div>
<h4>Framework</h4>Symfony 2.x<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="7" style="
              width: 70%
            "><span class="sr-only">40% Complete (success)</span></div></div>Zend 1.x<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="4" style="
              width: 40%
            "><span class="sr-only">40% Complete (success)</span></div></div>
<h4>Système</h4>Windows de 3.1 à 7<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="6" style="
              width: 60%
            "><span class="sr-only">40% Complete (success)</span></div></div>Linux<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="8" style="
              width: 80%
            "><span class="sr-only">40% Complete (success)</span></div></div>
<h4>Languages</h4>PHP 5.4<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="8" style="
              width: 80%
            "><span class="sr-only">40% Complete (success)</span></div></div>Javascript<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="7" style="
              width: 70%
            "><span class="sr-only">40% Complete (success)</span></div></div>Python<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="4" style="
              width: 40%
            "><span class="sr-only">40% Complete (success)</span></div></div>Shell<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="7" style="
              width: 70%
            "><span class="sr-only">40% Complete (success)</span></div></div>
<h4>Formats</h4>HTML5<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="6" style="
              width: 60%
            "><span class="sr-only">40% Complete (success)</span></div></div>CSS/LESS<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="6" style="
              width: 60%
            "><span class="sr-only">40% Complete (success)</span></div></div>XML/XSLT<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="6" style="
              width: 60%
            "><span class="sr-only">40% Complete (success)</span></div></div>
<h4>Versionning</h4>Git<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="7" style="
              width: 70%
            "><span class="sr-only">40% Complete (success)</span></div></div>Mercurial<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="5" style="
              width: 50%
            "><span class="sr-only">40% Complete (success)</span></div></div>
<h4>Behavior Driven Development</h4>Behat (PHP)<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="9" style="
              width: 90%
            "><span class="sr-only">40% Complete (success)</span></div></div>Jasmine (Javascript)<div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="10" aria-valuenow="5" style="
              width: 50%
            "><span class="sr-only">40% Complete (success)</span></div></div>
<h2>
    Centre d'interet
  </h2>
<ul>
<li>Lecture (anglais)</li>
<li>Cuisine</li>
<li>Bricolage</li>
<li>Billard</li>
<li>Rugby</li>
</ul>
</div>
