bruno<h2>
    Parcours professionnel
  </h2><article><header><h3>
<span class="label label-info">2012
            -
            2013</span><span>Développeur d'applications web</span><span class="small">Ascomedia, Champagne au mont d'or</span>
</h3></header><ul class="list-unstyled">
<li>Développement spécifique d'application sur symfony en autonomie, de la conception à la mise en production</li>
<li>Import et traitement de données MySQL</li>
<li>Configuration, nettoyage et/ou sécurisation de sites sur Apache</li>
<li>Installation, mise à jour et développement pour CMS (joomla, wordpress, drupal, thelia, prestashop)</li>
<li>Développement et/ou installation de plugin jQuery</li>
</ul></article><article><header><h3>
<span class="label label-info">2007
            -
            2012</span><span>Maintenance et développement informatique</span><span class="small">Ascomedia, Auto entrepreneur, Roanne</span>
</h3></header><ul class="list-unstyled">
<li>Développement d'application web de gestion clientèle et commerciale</li>
<li>Installation de réseaux et mise en place de sauvegarde pour PME</li>
<li>Conseil d'achat, assemblage et installation de machines</li>
<li>Installation et maintenance de systèmes windows</li>
</ul></article><article><header><h3>
<span class="label label-info">2004
            -
            2007</span><span>Assistant de direction</span><span class="small">Cafétéria Casino (Nice puis mutation à Roanne)</span>
</h3></header><ul class="list-unstyled">
<li>Gestion d'une équipe de 10 personnes pour des services de 300 couverts</li>
<li>Augmentation du plateau moyen et fidélisation de la clientèle</li>
<li>Mise en place d'outils pour la gestion interne du personnel</li>
</ul></article><article><header><h3>
<span class="label label-info">2001
            -
            2003</span><span>Développeur d'applications</span><span class="small">Alpamayo (Grenoble)</span>
</h3></header><ul class="list-unstyled">
<li>Développement en autonomie d'un logiciel de calcul de devis prévisionnel (Visual Basic - Access)</li>
<li>Augmentation du plateau moyen et fidélisation de la clientèle</li>
</ul></article><article><header><h3>
<span class="label label-info">2001
            -
            2001</span><span>Développeur d'applications</span><span class="small">Groupe Eirich France (Lyon)</span>
</h3></header><ul class="list-unstyled"><li>Création d'une base de données spécifique à la société pour la gestion du catalogue et de la clientèle (Access)</li></ul></article><h2>
    Formation
  </h2><article><header><h3>BTSinformatique de gestiondéveloppeur d’applications2003</h3>
<p>Sup2i (Grenoble)Cursus en alternance</p></header></article><article><header><h3>Bacscientifique1999</h3>
<p>Lycée Marlioz (Aix les bains)</p></header></article>
