    <dl class="dl-horizontal">
      <dt>Upfit</dt>
      <dd>
        <em>Application de suivi de musculation</em>
        <div>
          Permet de suivre un programme prédéfini ou conseille un exercice suivant l'historique.<br>
          Indique les informations utiles à chaque exercice (réglages de la machine, difficultée habituelle).
        </div>
        <div>
          Site en production que j'utilise régulièrement mais avant tout le support d'experimentations sur symfony et l'intégration continue.
          <ul class="list-inline">
            <li><span class="label label-primary">php 5.4</span></li>
            <li><span class="label label-primary">Symfony 2</span></li>
            <li><span class="label label-primary">Behat</span></li>
          </ul>
        </div>
      </dd>
      <dt>sf2formcollection</dt>
      <dd>
        <em>Plugin Jquery gérant l'imbrication de formulaires pour symfony</em>
        <div>
          Permet l'ajout et la suppression de sous-formulaires<br>
          Peut utiliser jquery ui pour permettre le tri des sous-formulaires.
        </div>
        <div>
          Utilisé par upfit
          <ul class="list-inline">
            <li><span class="label label-primary">Jquery</span></li>
            <li><span class="label label-primary">Jasmine</span></li>
          </ul>
        </div>
      </dd>
      <dt>Porteur de prothèse</dt>
      <dd>
        <em>Application de création de carte</em>
        <div>
          Permet de créer des cartes pour les porteurs de prothèses, avec les coordonnées de leurs chiurgiens et leur établissement en cas de problème avec les portiques de sécurité dans les aéroports par exemple
        </div>
        <div>
          <ul class="list-inline">
            <li><span class="label label-primary">php 5.4</span></li>
            <li><span class="label label-primary">Symfony 2</span></li>
            <li><span class="label label-primary">Html5</span></li>
          </ul>
        </div>
      </dd>
    </dl>