<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} :: {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <link rel="shortcut icon" href="http://www.gravatar.com/avatar/c84405cfcdcb4b95e229a6ae640b621d?s=16" />
</head>
<body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-46867580-1', 'bpaulin.net');
  ga('send', 'pageview');
  </script>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}">
            Bpaulin
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% assign url = page.url|remove:'/index.html' %}
            <li {% if url == site.navigation.articles.url %}class="active"{% endif %}>
              <a href="{{ site.navigation.articles.url }}" title="{{ site.navigation.articles.text }}">
                <i class="fa {{ site.navigation.articles.icon }}"></i> 
                {{ site.navigation.articles.text }}
              </a>
            </li>
            <li {% if url == site.navigation.projets.url %}class="active"{% endif %}>
              <a href="{{ site.navigation.projets.url }}" title="{{ site.navigation.projets.text }}">
                <i class="fa {{ site.navigation.projets.icon }}"></i> 
                {{ site.navigation.projets.text }}
              </a>
            </li>
            <li {% if url == site.navigation.apropos.url %}class="active"{% endif %}>
              <a href="{{ site.navigation.apropos.url }}" title="{{ site.navigation.apropos.text }}">
                <i class="fa {{ site.navigation.apropos.icon }}"></i> 
                {{ site.navigation.apropos.text }}
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="content">
        <h1 class="page-header">{{ page.title }}</h1>
        {{ content }}
      </div>

      <footer class="well well-sm small">
        Ce site est construit avec 
        <a href="http://jekyllrb.com/">
          jekyll
        </a>
        , habillé avec 
        <a href="http://getbootstrap.com/">
        bootstrap
        </a>
        et versionné chez 
        <a href="https://github.com/bpaulin/bpaulin.net">
          GitHub
        </a>
        . Il est mis à disposition selon les termes de la 
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
          Licence Creative Commons Attribution 4.0 International
        </a>.
      </footer>
    </div> <!-- /container -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>